.col-xs-4.hidden-md.hidden-lg
  %b
    = Tag.human_attribute_name(:id) + ':'
.col-xs-6.col-md-1
  = locals[:id]

.col-xs-12.hidden-md.hidden-lg
  %b
    = Tag.human_attribute_name(:title) + ':'
.col-xs-12.col-md-9
  = locals[:title]

.col-xs-12.col-md-1.center
  = locals[:do]
