= form_with(url: user_cabinet_test_tasks_path, method: :get, name: 'filter-form', class: 'main-filter-form', local: true) do |f|
  .col-md-1.form-group
    = f.label(TestTask.human_attribute_name(:id))
    = f.text_field(:id, class: 'form-control', value: params[:id])

  .col-md-2.form-group
    = f.label(TestTask.human_attribute_name(:experiment))
    = f.text_field(:experiment_name, class: 'form-control', value: params[:experiment_name])

  .col-md-2.form-group
    = f.label(TestTask.human_attribute_name(:state))
    = f.select(:state, TestTaskDecorator.options_for_select_type(:state), { include_blank: true, selected: params[:state] }, class: 'form-control')

  .col-md-2.form-group
    = f.label(TestTask.human_attribute_name(:user))
    = f.select(:user, TestTaskDecorator.options_for_select_user(current_ability), { include_blank: true, selected: params[:user] }, class: 'form-control')

  .col-md-2.form-group
    = f.label(TestTask.human_attribute_name(:result_kod))
    = f.select(:result_kod, TestTaskDecorator.options_for_select_type(:result_kod), { include_blank: true, selected: params[:result_kod] }, class: 'form-control')

  .pull-right
    = f.submit I18n.t('search'), class: 'btn btn-search'
    = link_to(I18n.t('reset'), user_cabinet_test_tasks_path, class: 'btn btn-cancel')
