= form_with(model: @resource, local: true, url: user_cabinet_experiment_experiment_cases_path(experiment_id: params[:experiment_id])) do |f|
  .col-md-5.col-md-offset-1
    .form-group.required
      = f.label(:number)
      = f.text_field(:number, class: 'form-control')
      .field_hint
        = t('.hint_number')
    .form-group.required
      = f.label(:human_name)
      = f.text_field(:human_name, class: 'form-control')
      .field_hint
        = t('.hint_name')
    .form-group
      = f.label(:human_description)
      = f.text_area(:human_description, class: 'form-control')
      .field_hint
        = t('.hint_description')

    .form-group
      %button.btn.btn-primary.btn-lg{:name => "submit", :required => "required", :type => "submit"}
        = I18n.t('forms.article_new.create')
