= render('layouts/template_parts/small_title', locals: { title: t('.title') })

%section#article-page
  .container
    = render('layouts/template_parts/large_title', locals: { title: t('.large_title'),
    text: t('.title_text') })

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

    .page-blocks
      = render('experiment_case_show')
    -#.page-blocks
    -#  = render('experiment_cases_show')
    .page-blocks
      = link_to(Experiment.model_name.human, user_cabinet_experiment_path(id: @resource.experiment_id))
    .page-blocks
      = link_to(t('.delete'), user_cabinet_experiment_experiment_case_path(experiment_id: @resource.experiment_id,
      id: @resource.id), method: :delete, data: { confirm: 'Are you sure?' })
