= render('layouts/template_parts/small_title', locals: { title: t('.title') })

%section#experiment-case-page
  .container
    %ol.breadcrumb
      = render_breadcrumbs tag: :li, separator: ''

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

    .page-blocks
      .col-xs-12.col-md-8
        = render('experiment_case_show')
      .col-xs-12.col-md-4.center
        .row
          = link_to(user_cabinet_experiment_path(id: @resource.experiment_id), class: 'btn btn-success btn-lg') do
            %i.fa.fa-arrow-circle-up
              = t('.return_to_test')
        .row
          = link_to(user_cabinet_experiment_experiment_case_path(experiment_id: @resource.experiment_id,
        id: @resource.id), method: :delete, data: { confirm: t('.sure') }, class: 'btn btn-primary btn-lg') do
            %i.fa.fa-minus-square
              = t('.delete')
