.row
  .col-xs-2.col-md-2
    %b
      = ExperimentCase.human_attribute_name(:number)
  .col-xs-10.col-md-4
    %b
      = Experiment.human_attribute_name(:human_name)
  .hidden-xs.col-md-4
    %b
      = Experiment.human_attribute_name(:human_description)
= react_component('experiments/ExperimentOperation',
{ experiment_id: @resource.id,
 user_id: current_user.id,
 url: front_experiment_last_result_path})

#experiment_cases_body
  - @resource.experiment_cases.order(:number).each do |experiment_case|
    - row_class = 'ordinal_experiment_case'
    - row_class = 'failed_experiment_case' if @resource.last_test_task(current_user) && @resource.last_test_task(current_user).result_kod == 'interrupted' && @resource.last_test_task(current_user).operation&.experiment_case_id == experiment_case.id
    .row{id: "experiment_case_row_#{experiment_case.id}", class: row_experiment_case_class(@last_test_task, experiment_case.id)}
      .col-xs-2.col-md-2
        = experiment_case.number
      .col-xs-10.col-md-4
        = experiment_case.human_name
      .hidden-xs.col-md-4
        = experiment_case.human_description
      .col-xs-3.col-xs-offset-6.col-md-1.col-md-offset-0
        = link_to user_cabinet_experiment_experiment_case_path(experiment_id: experiment_case.experiment_id, id: experiment_case.id) do
          %i.fa.fa-edit.rc-fa-edit
      .col-xs-3.col-md-1
        = link_to clone_user_cabinet_experiment_experiment_case_path(experiment_id: experiment_case.experiment_id, id: experiment_case.id), method: :post do
          %i.fa.fa-clone
