= render 'shared/actions/index_template' do
  = render 'shared/actions/index_filter_panel',
new_path: new_user_cabinet_experiment_path,
new_button_name: t('.new_test') do
    = render('filter')

  .page-blocks
    = render('index_table')

  = render('shared/pagination_block')