= render('layouts/template_parts/small_title', locals: { title: t('.tests') })

%section#tests-index
  .container
    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')
    .row.filter-wrap
      = render('filter')
      .pull-right
        = link_to(t('.new'),new_user_cabinet_experiment_path, class: 'btn btn-success')


    .page-blocks
      = render('index_table')

    = render('shared/pagination_block')