= render('layouts/template_parts/small_title', locals: { title: I18n.t('experiment.show.title') })

%section#experiment-page
  .container
    %ol.breadcrumb
      = render_breadcrumbs tag: :li, separator: ''

    .row.contact-wrap
      -# Сообщения об ошибках
      = render('shared/resource_alert_notice')

    .page-blocks
      .row
        .col-xs-12.col-md-6
          .experiment_show
            = render('experiment_show')
        .col-xs-10.col-md-6
          .row
            = link_to(user_cabinet_experiments_path, class: 'btn btn-success btn-lg') do
              %i.fa.fa-arrow-circle-up
                = t('.return_to_tests')
          .row
            = link_to(user_cabinet_experiment_path(id: @resource.id), class: 'btn btn-primary btn-lg', method: :delete, data: { confirm: t('.sure') }) do
              %i.fa.fa-minus.fa-minus-square
                = t('.delete')

      .row
        = render('tab_select')

      .row{id: 'experiment_tab_panels'}
        #experiment_test
          = render('test_panel')
        #experiment_settings
          = render('settings_panel')
