= render 'shared/actions/show_edit' do
  .row
    .col-xs-12.col-md-8
      = render('experiment_show')
    = render 'shared/actions/show_edit_right_buttons',
return_to_path: user_cabinet_experiments_path,
return_to_button_name: t('.return_to_tests'),
delete_object_path: user_cabinet_experiment_path(id: @resource.id),
delete_object_button_name: t('.delete_test'),
delete_object_sure: t('.is_really_delete_test')

  .row
    %hr
    = render('tab_select')

  .row{id: 'experiment_tab_panels'}
    #experiment_test
      = render('test_panel')
    #experiment_settings.hidden
      = render('settings_panel')
